type devicesettings_app, domain;
typeattribute devicesettings_app mlstrustedsubject;

app_domain(devicesettings_app)

allow devicesettings_app {
  app_api_service
  audioserver_service
  cameraserver_service
  drmserver_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
}:service_manager find;

allow devicesettings_app system_app_data_file:dir create_dir_perms;
allow devicesettings_app system_app_data_file:{ file lnk_file } create_file_perms;

rw_dir_file(devicesettings_app, vendor_sysfs_joystick)
